.container {
  padding-bottom: 36px;
}

.btn {
  /* width: 100%; */
  padding: 15px 0;
  margin-bottom: 15px;
  border: 1px solid #0057ff;
  background: none;
  color: #0057ff;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.new-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0057ff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 25px;
  bottom: 70px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-active {
  background-color: #0057ff;
  color: #fff;
}

.error-modal {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-reset {
  margin-bottom: 0 !important;
}

.btn-disabled {
  background-color: #ebebeb !important;
  border: none;
  color: #adadad !important;
  cursor: default;
}

.uploadcare--widget__button {
  background: #0057ff;
}

.uploadcare--dialog__powered-by {
  display: none;
}

.uploadcare--powered-by {
  display: none;
}

.last-messages {
  position: relative;
}

aside {
  display: none;
}

.avatar-rounded {
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  aside {
    display: block;
  }

  .new-message {
    display: none;
  }

  .container {
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
  }

  .aside__card {
    background-color: #fff;
    min-width: 312px;
    padding: 8px 16px 14px 16px;
    border-radius: 10px;
  }

  .btn {
    /* width: 70%; */
  }

  .card-shadow {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  }

  .divider {
    display: none;
  }
}
